html{
  box-sizing: border-box;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
font-family: 'Lato', sans-serif;
margin: 0;
width: 100%;
}
header{
  margin: 0 auto;
  background-color: #b35360;
  position: fixed;
  width: 100%;
  text-align: center;
}
.toplogo{
  width: 30%;
}
.headertext{
  margin-top: 0px;
  color: #b35360;
}
.title{
  background-color: #f6a7b5;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 115px;
}

h1{
  text-align: center;
  margin: 0;
  font-size: 3rem;
  color: #50151a;
}
h2{
  text-align: center;
  padding: 0px;
  color: #f6a7b5;
  font-size: 2rem;
  margin-bottom: 0;
}
h3{
  font-weight: 300;
  color: #f6a7b5;
  text-align: center;
  padding: 5px;
  margin: -3px 90px 5px 90px;
}
h4{
  margin: 0;
  text-align: center;
}
p{
  color: #50151a;
  margin:0;
  font-weight: 300;
  font-size: 1em;
  margin: 40px;
}
.featurephoto{
  width: 100%;
  margin-bottom: -3px;
}
.menu{
  background-color: #99d5ce;
  overflow: hidden;
}
.bluetext{
  color: #004056;
}
figure{
  width: 100%;
  margin: 0;
}
figcaption{
  clear: left;
}

/*These are menu photos*/

.menutext{
  margin: 10px;
}
.coffee{
  width: 100%;
}
.panini{
  width: 100%;
}
.strawberry{
  width: 100%;
}
.vanilla{
  width: 100%;
}
.moon{
  width: 20%;
  padding: 0;
}
.about{
  overflow: hidden;
  margin: 0;
}
.flavours{
  width: 100%;
  margin: 0;
}

.news{
  background-color: #b35360;
  margin-top: 40px;
}

.tea{
  width: 100%;
  margin: 0;
  margin-bottom: -3px;
}
.cups{
  width: 100%;
  margin-bottom: -3px;
}
.gelato{
  width: 100%;
  margin-bottom: -3px;
}

.contact{
  background-color: white;
  text-align: center;
}
.contactinfo{
  margin: 20px;
}
.hours{
  margin: 20px;
  padding-bottom: 10px;
}
.address{
  margin: 1px;
}
.postalcode{
  padding: 0px 0px 30px 0px;
  margin: 0;
}
.contacttitle{
  color: #004056;
  margin: 0;
}
.socialmedia{
  width: 70%;
  padding: 0;
  margin-top: -30px;
}
.contactinfo{
  text-align: center;
}
.map{
  width: 100%;
  margin-bottom: -4px;
}

.footer{
  background-color: #f6a7b5;
  width: 100%;
  float: left;
  text-align: center;
}
.bottomlogo {
  width: 15%;
  float: right;
}
.footertext{
  color: white;
  margin: 20px;
}
.arrow{
  width: 30%;
}
